In [1]:
import pandas as pd
import json

In [2]:
COLUMNS = ['density', 'm', 'n', 'mean', 'std', 'version']
new = pd.read_json('new.json')
old = pd.read_json('old.json')
new['version'] = 'new'
old['version'] = 'old'
df = pd.concat([old, new])
df.head()

,density,m,n,mean,std,measures,memory,version
0,0.5,10000,10000,0.708523,0.049175,"[1.061866068001109, 0.9322291509997741, 0.7931...","[[699.3671875, 699.34765625, 1135.95703125, 12...",old
1,0.5,10000,1778,0.116306,0.001079,"[0.11764280299757901, 0.116226137997728, 0.117...","[[235.8203125, 235.8203125, 288.53515625, 337....",old
2,0.5,10000,316,0.035967,0.000289,"[0.035646305997943, 0.036043182000867, 0.03641...","[[145.3828125, 145.38671875, 145.38671875, 145...",old
3,0.5,10000,56,0.007590,0.000420,"[0.007062992001010001, 0.007037048999336001, 0...","[[145.390625, 145.39453125, 145.39453125, 145....",old
4,0.5,10000,10,0.002631,0.000118,"[0.00251284800106, 0.002507987999706, 0.002625...","[[145.51171875, 145.515625, 145.515625, 145.51...",old

In [3]:
newold = new[COLUMNS].merge(old[COLUMNS], on=['density', 'm', 'n'], suffixes=('_new', '_old'))
newold.to_csv('./newold.csv')
newold.head()

,density,m,n,mean_new,std_new,version_new,mean_old,std_old,version_old
0,0.5,10000,10000,0.676896,0.162968,new,0.708523,0.049175,old
1,0.5,10000,1778,0.102763,0.003807,new,0.116306,0.001079,old
2,0.5,10000,316,0.026757,0.001092,new,0.035967,0.000289,old
3,0.5,10000,56,0.005448,0.000449,new,0.007590,0.000420,old
4,0.5,10000,10,0.002697,0.000346,new,0.002631,0.000118,old